@model LMS_grupp1.Models.Activity

@{
    ViewBag.Title = "Ta bort aktivitet";
}

<h2>Ta bort aktivitet</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aktivitetsuppgifter</h4>
    <hr />
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        </dl>
   
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till aktivitetslista", "Details", "Courses", new { id = Model.CourseId}, null)
            *@
            <a href="@Url.Action("Details", "Courses", new { id = Model.CourseId })" class="btn btn-own btn-thin" data-toggle="tooltip" title="Tillbaka till aktivitetslista">
                <span class="glyphicon glyphicon-arrow-up glyph-lg" aria-hidden="true"></span>
            </a>
            <button type="submit" class="btn btn-own btn-thin" data-toggle="tooltip" title="Ta bort">
                <span class="glyphicon glyphicon-ok glyph-lg" aria-hidden="true"></span>
            </button>
        </div>
    }
</div>
