@model LMS_grupp1.Models.Activity

@{
    ViewBag.Title = "Aktivitet";
}
<div>
    <h2>Aktivitet: @Model.Name</h2>
</div>
<div>
    <h4>Material:</h4> <hr />
</div>
@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Ladda upp", "Create", "Documents", new { level = LMS_grupp1.Models.DocumentLevel.ActivityLevel, id = Model.Id }, new { @class = "btn btn-gray" })
    </p>
}
@Html.Action("Index", "Documents", new { level = LMS_grupp1.Models.DocumentLevel.ActivityLevel, id = Model.Id })
<h4>Uppladdade filer:</h4> <hr />
@Html.Action("Index", "Documents", new { level = LMS_grupp1.Models.DocumentLevel.PrivateLevel, id = Model.Id })

<div>
    @Html.ActionLink("Tillbaka", "Details", "Courses", new { id = Model.CourseId }, new { @class = "btn btn-gray" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








