@model IEnumerable<LMS_grupp1.Models.Activity>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Välj")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>

        <th></th>
    </tr>

    @{
        DateTime now = DateTime.Now.Date;
    }

    @foreach (var item in Model)
    {
        <tr>
            @if (now <= item.EndTime)
            {
            <td>
                <a href="@Url.Action("Details", "Activities" , new { id=item.Id })" class="btn btn-own btn-thin" data-toggle="tooltip" title="Till aktivitet">
                    <span class="glyphicon glyphicon-arrow-down glyph-lg" aria-hidden="true"></span>
                </a>
            </td>
            }
            else
            {
                <td>
                    <a href="@Url.Action("Details", "Activities", new { id = item.Id })" class="btn btn-own btn-thin" data-toggle="tooltip" title="Till aktivitet (utdaterad)">
                        <span class="glyphicon glyphicon-asterisk glyph-lg" aria-hidden="true"></span>
                    </a>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            @if (User.IsInRole("Teacher"))
            {
                <td>
                    <a href="@Url.Action("Edit", "Activities", new { id = item.Id })" class="btn btn-own btn-thin" data-toggle="tooltip" title="Ändra">
                        <span class="glyphicon glyphicon-pencil glyph-lg" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Activities", new { id = item.Id })" class="btn btn-own btn-thin" data-toggle="tooltip" title="Ta bort">
                        <span class="glyphicon glyphicon-remove glyph-lg" aria-hidden="true"></span>
                    </a>
                    @*
                        @Html.ActionLink("Ändra", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
                    *@
                </td>
            }
        </tr>
    }
</table>
