@model LMS_grupp1.Models.ApplicationUser
@{
    ViewBag.Title = "Flytta användare till ny grupp";
}
<h2>Flytta användare till ny grupp</h2>


@using (Html.BeginForm("MoveUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Användaruppgifter</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div style="padding-top: 7px" class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div style="padding-top: 7px" class="col-md-10">
                @Html.DisplayFor(model => model.Group.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GroupId, (SelectList)ViewBag.GroupId, "- Välj Grupp -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GroupId, "", new { @class = "text-danger" })
            </div>
        </div>

       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka till användarlista", "UserIndex", "Groups", null, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
