@model LMS_grupp1.Models.SetNewPasswordStudentViewModel
@{
    ViewBag.Title = "Skapa ny lösenord";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("SetNewPasswordStudent", "Manage", new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Skapa ny lösenord</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(model => model.UserId)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-own btn-thin">
                <span class="glyphicon glyphicon-ok glyph-lg" aria-hidden="true"></span>
            </button>
        </div>
    </div>
}
@*@Html.ActionLink("Tillbaka till kurssida", "Index")*@
<a href="@Url.Action("Index", "Groups")" class="btn btn-own btn-thin">
    <span class="glyphicon glyphicon-arrow-left  glyph-lg" aria-hidden="true"></span>
</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}