@model LMS_grupp1.Models.Document

@{
    ViewBag.Title = "Ladda upp dokument";
}

<h2>Ladda upp dokument</h2>

@using (Html.BeginForm("Create", "Documents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dokumentuppgifter</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LevelId)
        @Html.HiddenFor(model => model.Level)
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deadline, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                    <label for="file">Dokument:</label>
                    <input type="file" name="file" id="file" class="btn btn-gray"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Skapa" class="btn btn-gray" />
            </div>
        </div>
    </div>
}

<div>
    @if (Model.Level == LMS_grupp1.Models.DocumentLevel.GroupLevel)
    {
        @Html.ActionLink("Tillbaka", "Index", "Groups", null, new { @class = "btn btn-gray" })
    }
    @if (Model.Level == LMS_grupp1.Models.DocumentLevel.CourseLevel)
    {
        @Html.ActionLink("Tillbaka", "Details", "Courses", new { id = Model.LevelId}, new { @class = "btn btn-gray" })
    }
    @if (Model.Level == LMS_grupp1.Models.DocumentLevel.ActivityLevel)
    {
        @Html.ActionLink("Tillbaka", "Details", "Activities", new { id = Model.LevelId }, new { @class = "btn btn-gray" })
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
