@model LMS_grupp1.Models.Document

@{
    ViewBag.Title = "Ta bort dokument";
}

<h2>Ta bort</h2>

<h3>Är du säker på att du vill ta bort denna?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-gray" />

            @if (Model.Level == LMS_grupp1.Models.DocumentLevel.GroupLevel)
            {
                @Html.ActionLink("Tillbaka", "Index", "Groups", null, new { @class = "btn btn-gray" })
            }
            @if (Model.Level == LMS_grupp1.Models.DocumentLevel.CourseLevel)
            {
                @Html.ActionLink("Tillbaka", "Details", "Courses", new { id = Model.LevelId }, new { @class = "btn btn-gray" })
            }
            @if (Model.Level == LMS_grupp1.Models.DocumentLevel.ActivityLevel)
            {
                @Html.ActionLink("Tillbaka", "Details", "Activities", new { id = Model.LevelId }, new { @class = "btn btn-gray" })
            }
        </div>
    }
</div>
