@model IEnumerable<LMS_grupp1.Models.Document>

@{
    ViewBag.Title = "";
}

<h4>Dokument</h4>

<p>
    @Html.ActionLink("Ladda upp", "Create", "Documents", new { groupId = Model.Id }, new { @class = "btn btn-gray" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ladda ner")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Originator)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            {
                <td>
                    <a href="@Url.Action("Details", "Documents" , new { id=item.Id })" class="btn btn-red" data-toggle="tooltip" title="Till aktivitet (utdaterad)">
                        <span class="glyphicon glyphicon-download-alt glyph-lg" aria-hidden="true"></span>
                    </a>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Originator)
            </td>
            <td>
                @if (User.IsInRole("Teacher"))
                {
                <td>
                    @Html.ActionLink("Ändra", "Edit", "Documents", new { id = item.Id }, new { @class = "btn btn-gray" })
                    @Html.ActionLink("Ta bort", "Delete", "Documents", new { id = item.Id }, new { @class = "btn btn-gray" })
                </td>
                }
            </td>
        </tr>
}

</table>
