@model LMS_grupp1.Models.Group
@{
    ViewBag.Title = "Kurser";
}
<div>
    <h2>
        Kurser för grupp @Model.Name
    </h2>
</div>
<div>
    <h4>Period:  @Html.DisplayFor(model => model.StartTime) -  @Html.DisplayFor(model => model.EndTime)</h4> <hr />
</div>
@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Ny kurs", "Create", "Courses", new { groupId = Model.Id }, new { @class = "btn btn-gray" })
        @Html.ActionLink("Lämna som lärare", "RemoveTeacher", "Groups", null, new { @class = "btn btn-gray" })
    </p>
}
@Html.Action("Index", "Courses", new { groupId = Model.Id })
@if (User.IsInRole("Teacher") || User.IsInRole("Student")
    )
{
    <p>
        @Html.ActionLink("Ladda upp", "Create", "Documents", new { level = LMS_grupp1.Models.DocumentLevel.GroupLevel, id = Model.Id }, new { @class = "btn btn-gray" })
    </p>
}
@Html.Action("Index", "Documents", new { level = LMS_grupp1.Models.DocumentLevel.GroupLevel, id = Model.Id })
<p>
    @Html.ActionLink("Deltagare", "UserIndex", "Groups", null, new { @class = "btn btn-gray" })
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Ändra grupp", "Edit", "Groups", new { id = Model.Id }, new { @class = "btn btn-gray" })
    }
</p>
