@model IEnumerable<LMS_grupp1.Models.Group>

@{
    ViewBag.Title = "Grupper";
}

<h2>Grupper</h2>

<p>
    @Html.ActionLink("Lägg till grupp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>           
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Lägg till som lärare", "AddTeacher", new { groupId = item.Id }) |
                @Html.ActionLink("Kurser", "CourseIndex", new { id = item.Id }) |
                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
