@model LMS_grupp1.Models.Group
@using System.Web.Security
@{
    ViewBag.Title = "Kursdeltagare";
}

<h2>Deltagare i grupp @Model.Name</h2>
@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("NY DELTAGARE", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-red" })
        @*
            <a href="@Url.Action("Register", "Account", new { id = "registerLink" })" class="btn btn-own btn-comb-thin" data-toggle="tooltip" title="´Lägg till deltagare">
                <span class="glyphicon glyphicon-user glyph-comb-lg" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-plus glyph-add-norm" aria-hidden="true"></span>
            </a>
        *@
        @Html.ActionLink("LÄMNA SOM LÄRARE", "RemoveTeacher", "Groups", null, new { @class = "btn btn-red" })
        @*
            <a href="@Url.Action("RemoveTeacher", "Groups")" class="btn btn-own btn-comb-thin" data-toggle="tooltip" title="Lämna som lärare">
                <span class="glyphicon glyphicon-briefcase glyph-comb-lg" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-share-alt glyph-add-norm" aria-hidden="true"></span>
            </a>
        *@
    </p>
}
<div>
    <h4>Deltagarlista</h4>
    <hr />
</div>
<table class="table">
    <tr>

        <th>
            @Html.DisplayName("E-post")
        </th>
        <th>
            @Html.DisplayName("Namn")
        </th>
        <th>
            @Html.DisplayName("Personnummer")
        </th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personnumber)
            </td>

            @if (User.IsInRole("Teacher"))
            {
                <td>
                    @Html.ActionLink("ÄNDRA", "EditUser", "Account", new { id = item.Id }, new { @class = "btn btn-red" })
                    @*
                        <a href="@Url.Action("EditUser", "Account", new { id = item.Id})" class="btn btn-own btn-thin" data-toggle="tooltip" title="Ändra deltagaruppgift">
                            <span class="glyphicon glyphicon-pencil glyph-lg" aria-hidden="true"></span>
                        </a>
                    *@
                    @if (item.Email != User.Identity.Name)
                    {
                        @Html.ActionLink("TA BORT", "DeleteUser", "Account", new { id = item.Id }, new { @class = "btn btn-red" }) @:
                        @Html.ActionLink("FLYTTA GRUPP", "MoveUser", "Account", new { id = item.Id }, new { @class = "btn btn-red" })
                        @*
                            <a href="@Url.Action("DeleteUser", "Account", new { id = item.Id })" class="btn btn-own btn-thin" data-toggle="tooltip" title="Ta bort deltagare">
                                <span class="glyphicon glyphicon-remove glyph-lg" aria-hidden="true"></span>
                            </a>

                            <a href="@Url.Action("MoveUser", "Account", new { id = item.Id })" class="btn btn-own btn-thin" data-toggle="tooltip" title="Flytta till annan grupp">
                                <span class="glyphicon glyphicon-share-alt glyph-lg" aria-hidden="true"></span>
                            </a>
                        *@
                    }
                </td>
            }

        </tr>
    }
</table>
<p>
    @Html.ActionLink("KURSER", "Index", "Groups", null, new { @class = "btn btn-red" })
    @*
        <a href="@Url.Action("Index", "Groups")" class="btn btn-own btn-thin" data-toggle="tooltip" title="Tillbaka till kurssida">
            <span class="glyphicon glyphicon-arrow-left  glyph-lg" aria-hidden="true"></span>
        </a>
    *@
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("ÄNDRA GRUPP", "Edit", "Groups", new { id = Model.Id }, new { @class = "btn btn-red" })
        @*
            <a href="@Url.Action("Index", "Groups")" class="btn btn-own btn-thin" data-toggle="tooltip" title="Ändra gruppuppgift">
                <span class="glyphicon glyphicon-pencil glyph-lg" aria-hidden="true"></span>
            </a>
        *@
    }
</p>
