@model LMS_grupp1.Models.Group
@using System.Web.Security
@{
    ViewBag.Title = "Kursdeltagare";
}

<h2>Deltagare i grupp @Model.Name</h2>
@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Ny deltagare", "Register", "Account", new { groupId = Model.Id }, htmlAttributes: new { id = "registerLink", @class = "btn btn-gray" })
        @Html.ActionLink("Lämna som lärare", "RemoveTeacher", "Groups", null, new { @class = "btn btn-gray" })
    </p>
}
<div>
    <h4>Deltagarlista</h4>
    <hr />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Deltagare")
        </th>
        <th>
            @Html.DisplayName("E-post")
        </th>
        <th>
            @Html.DisplayName("Namn")
        </th>
        <th>
            @Html.DisplayName("Personnummer")
        </th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            @if (false)
            {
                <td>
                    <button type="button" class="btn btn-green" data-toggle="tooltip" title="Lärare">
                        <span class="glyphicon glyphicon-user glyph-lg" aria-hidden="true"></span>
                    </button>
                </td>
            }
            else if (item.Email == User.Identity.Name)
            {
                <td>
                    <a href="@Url.Action("EditUser", "Account", new { id = item.Id })" class="btn btn-yellow" data-toggle="tooltip" title="Egen ikon">
                        <span class="glyphicon glyphicon-user glyph-lg" aria-hidden="true"></span>
                    </a>
                </td>
           }
            else
            {
                <td>
                    <button type="button" class="btn btn-red" data-toggle="tooltip" title="Annan deltagare">
                        <span class="glyphicon glyphicon-user glyph-lg" aria-hidden="true"></span>
                    </button>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personnumber)
            </td>

            @if (User.IsInRole("Teacher"))
            {
                <td>
                    @Html.ActionLink("Ändra", "EditUser", "Account", new { id = item.Id }, new { @class = "btn btn-gray" })
                    @if (item.Email != User.Identity.Name)
                    {
                        @Html.ActionLink("Ta bort", "DeleteUser", "Account", new { id = item.Id }, new { @class = "btn btn-gray" }) @:
                        @Html.ActionLink("Flytta grupp", "MoveUser", "Account", new { id = item.Id }, new { @class = "btn btn-gray" })
                    }
                </td>
            }

        </tr>
    }
</table>
@Html.Action("Index", "Documents", new { level = LMS_grupp1.Models.DocumentLevel.GroupLevel, id = Model.Id })
<p>
    @Html.ActionLink("Kurser", "Index", "Groups", null, new { @class = "btn btn-gray" })
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Ändra grupp", "Edit", "Groups", new { id = Model.Id }, new { @class = "btn btn-gray" })
    }
</p>
