@model LMS_grupp1.Models.Course

@{
    ViewBag.Title = "Ta bort Kurs";
}

<h2>Ta bort kurs</h2>

<h3>Är du säker på att du vill ta bort denna?</h3>
<div>
    <h4>Kursuppgifter</h4>
    <hr />
    @Html.HiddenFor(model => model.GroupId)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Tillbaka", "Index", "Groups", null, new { @class = "btn btn-gray" })
            <input type="submit" value="Ta bort" class="btn btn-gray" />
        </div>
    }
</div>
