@model LMS_grupp1.Models.Course

@{
    ViewBag.Title = "Aktiviteter på kurs";
}
<div>
    <h2>Aktiviteter på kurs: @Model.Name</h2>
</div>
<div>
    <h4>Period:  @Html.DisplayFor(model => model.StartTime) -  @Html.DisplayFor(model => model.EndTime)</h4> <hr />
</div>
@if (User.IsInRole("Teacher"))
{
    <p>
        @* @Html.ActionLink("Lägg till aktivitet", "Create", "Activities", new { courseId = Model.Id }, null) *@
        <a href="@Url.Action("Create", "Activities", new { courseId = Model.Id })" class="btn btn-own btn-comb-thin">
            <span class="glyphicon glyphicon-list-alt glyph-comb-lg" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-plus glyph-add-norm" aria-hidden="true"></span>
        </a>
    </p>

}
@Html.Action("Index", "Activities", new { courseId = Model.Id})

<div>
    @* @Html.ActionLink("Tillbaka till kurslista", "Index", "Groups", new { id = Model.GroupId }, null) *@
    <a href="@Url.Action("Index", "Groups", new { id = Model.GroupId })" class="btn btn-own btn-thin">
        <span class="glyphicon glyphicon-arrow-up glyph-lg" aria-hidden="true"></span>
    </a></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








