@model LMS_grupp1.Models.Course

@{
    ViewBag.Title = "Aktiviteter på kurs";
}
<div>
    <h2>Aktiviteter på kurs: @Model.Name</h2>
</div>
<div>
    <h4>Period:  @Html.DisplayFor(model => model.StartTime) -  @Html.DisplayFor(model => model.EndTime)</h4> <hr />
</div>
@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Ny aktivitet", "Create", "Activities", new { courseId = Model.Id }, new { @class = "btn btn-gray" })
    </p>

}
@Html.Action("Index", "Activities", new { courseId = Model.Id })
@if (User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Ladda upp", "Create", "Documents", new { level = LMS_grupp1.Models.DocumentLevel.CourseLevel ,id = Model.Id }, new { @class = "btn btn-gray" })
    </p>
}
@Html.Action("Index", "Documents", new { level = LMS_grupp1.Models.DocumentLevel.CourseLevel, id = Model.Id })

<div>
    @Html.ActionLink("Tillbaka", "Index", "Groups", null, new { @class = "btn btn-gray" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








