@model IEnumerable<LMS_grupp1.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h4>Kurser</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Aktiviteter")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>
    @{
        DateTime now = DateTime.Now.Date;
    }

    @foreach (var item in Model)
    {
        <tr>
            @if (now > item.EndTime)
            {
                <td>
                    <a href="@Url.Action("Details", "Courses" , new { id=item.Id })" class="btn btn-red" data-toggle="tooltip" title="Till aktivitet (utdaterad)">
                        <span class="glyphicon glyphicon-chevron-down glyph-lg" aria-hidden="true"></span>
                    </a>
                </td>
                @*
                    <td>
                        @Html.ActionLink("AKTIVITET", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-red" })
                    </td>
                *@
            }
            else if (now < item.StartTime)
            {
                <td>
                    <a href="@Url.Action("Details", "Courses", new { id = item.Id })" class="btn btn-green" data-toggle="tooltip" title="Till aktivitet (ej startad)">
                        <span class="glyphicon glyphicon-chevron-down glyph-lg" aria-hidden="true"></span>
                    </a>
                </td>
                @*
                    <td>
                        @Html.ActionLink("AKTIVITET", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-green" })
                    </td>
                *@
            }
            else
            {
                <td>
                    <a href="@Url.Action("Details", "Courses", new { id = item.Id })" class="btn btn-yellow" data-toggle="tooltip" title="Till aktivitet (pågående)">
                        <span class="glyphicon glyphicon-chevron-down glyph-lg" aria-hidden="true"></span>
                    </a>
                </td>
                @*
                    <td>
                        @Html.ActionLink("AKTIVITET", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-yellow" })
                    </td>
                *@
            }

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            @if (User.IsInRole("Teacher"))
            {
                <td>
                    @Html.ActionLink("Ändra", "Edit", "Courses", new { id = item.Id }, new { @class = "btn btn-gray" })
                    @Html.ActionLink("Ta bort", "Delete", "Courses", new { id = item.Id }, new { @class = "btn btn-gray" })
                </td>
            }
        </tr>
    }

</table>
